/* body{
 background: #091A29;
} */

/* @font-face {
  font-family: 'CustomFont';
  src: url('./CustomFont-Regular.ttf') format('truetype');
  /* Add other font formats if available */


/* Optionally, you can define different font weights and styles */
@font-face {
  font-family: 'DM Sans';
  font-weight: bold;
  src: url('/DM_Sans/DMSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: bold;
  src: url('/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}


:root {
  --bg-color: #091A29;
  --headings-color: #fff;
  --desc-color: #fff;
  font-family: 'DM sans';
}
 body{
  padding: 0px;
  margin: 0px;
 }
body[data-theme="dark-theme"] {
  --bg-color: #f2f9fe;
  --headings-color: #1e3354;
  --desc-color: #8b8c8c;
  font-family: "Poppins";

}

body[data-theme="sea-theme"] {
  --bg-color: #090e12;
  --headings-color: #ff6464;
  h1:clamp(2.6875rem,1.9138rem + 3.301vw,5.875rem);
  --desc-color: #a5a5a5;
  font-family: "Josefin Sans";
}

body[data-theme="sharp-theme"] {
  --bg-color: #fff;
  --headings-color: #102572;
  --desc-color: #a5a5a5;
}

body {
  background: var(--bg-color) !important;
}

.content-container {
  margin-top: 5rem;
}

.hero-section-headings {
  padding-top: 3rem;
}

.heroImg {
  width: 100%;
  height: 100%;
}

.hearo-section-title {
  margin-bottom: 16px;
  color: var(--headings-color);
}

.select-theme-heading {
  color: var(--headings-color);
}

.hero-section-desc {
  margin-right: 5rem;
  color: var(--desc-color);
}



#hero-btn1 {
  background-color: black;
  border: 1px solid black;
  box-shadow: none;
}

#hero-btn2 {
  background-color: white;
  border: 1px solid black;
  color: black;
  box-shadow: none;
}

#hero-btn3 {
  background-color: #0099cc;
  border: 1px solid #0099cc;
  color: white;
  box-shadow: none;
}

#hero-btn4 {
  background-color: #d67d3e;
  border: 1px solid #d67d3e;
  color: black;
  box-shadow: none;
}
.default{
  position: fixed;
  left: 30px;
  bottom: 50px;
  width: 10%;
  text-align: center;
background-color: #F6683C;
padding: 10px;
border-radius: 20px;
}
.default button{
  text-align: center;
  border-radius: 20px;

}
.innerBtn{
  display: flex;
  color: white;
  font-size: 10px;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .default{
    position: fixed;
    font-size: 10px;
    left: 30px;
    bottom: 10px;
    width: 40%;
    text-align: center;
  background-color: #F6683C;
  padding: 10px;
  border-radius: 20px;
  }
  .default button{
    text-align: center;
    border-radius: 20px;
  
  }
  .innerBtn{
    display: flex;
    color: white;
    font-size: 10px;
    align-items: center;
  }
}